@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



body{
    background-color: #494850;
    font-family: "Rubik", sans-serif;
}

input{
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #2c2c34;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.agendamento{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    border: 3px solid #2c2c34;
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
}

.centralizar{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.imagemCorte{
    margin: 50px;
    background-color: #F0F8FF;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    display: flex;
    border: 3px solid black;
}

.nomeCorte{
    padding: 10px;
    font-size: 20px;
    margin-left: 50px;
    position: absolute;
    left: 47%;
}

.agendar{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    margin-top: 40px;
    
}

.telaAgendamento{
    padding: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    display: block;
    border-radius: 30px;
    background-color: #191d32;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.preco{
    position: absolute;
    left: 52.5%;
    font-size: 20px;
    margin-top: 40px;
}

.tamanhoImagem{
    width: 130px;
    height: 130px;
}

.pesquisa{
    padding: 10px;
    border-radius: 30px;
}

.textoBranco{
    color: #f0f8ff;
}

.fundoCard{
    background-color: #F0F8FF;
}

.fundoSalvar{
    background-color: #191d32;
    color: #F0F8FF;
}

button{
    cursor: pointer;
}

.custom-calendar {
    background-color: #2c2c34;
    font-size: 40px;
    color: aliceblue;
    border-radius: 50px;
    padding: 20px;


}



.custom-cell {

    color: aliceblue;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    background-color: #494850;
    padding: 20px;

}

.custom-header {
    font-weight: bold;
    background-color: aliceblue;
    color: #2c2c34;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.custom-button {
    color: aliceblue;
    background-color: #494850;
    border: none;
    border-radius: 40px;
    padding: 15px;
    cursor: pointer;
}

.c-c{
    cursor: pointer; 

}

.aria-disabled{
    background-color: white;
}



.custom-headerW{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 50px;
}