.menuSup {
    background: #191d32;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menuSup button {
    width: 50px;
    height: 50px;
    font-size: 35px;
    border: none;
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;
}

.menuSup a{
    cursor: pointer;
}

.dropdownItem :hover{
    background-color: grey;
    border-radius: 10px;
}

.dropdownMenu{
    position: absolute;
    background-color: #191d32;
    padding: 15px;
    border-radius: 10px;
}

.dropdownItem{
    color: aliceblue;
    padding: 5px;
    font-size: 20px;
    transition: background-color 0.3 ease;
}
ul{
    list-style-type: none;
    
}
