.menuSup {
    background: #191d32;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.voltar{
    padding: 10px;
    border-radius: 10px;
    margin-right: 50px;
    
}

.deslogar{
    padding: 10px;
    border-radius: 10px;
    margin-left: 50px;
}

.menuSup img{
    cursor: pointer;
    transition: 0.3s;
}
.menuSup img:hover{
    transform: scale(1.1);
}




