@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", serif;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgb(19, 14, 14), rgb(19, 14, 14));
}

header {
    margin-bottom: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    font-size: 40px;
    color: #fff;
    padding: 0px;
    text-align: center;
}

#hero img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#hero h2 {
    margin-bottom: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero p {
    margin-bottom: 10px;
    position: absolute;
    font-size: 25px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 10%;
}

section {
    padding: 40px 20px;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin: 5px 0;
}

.grad {

     -webkit-gradient: (linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

#login {
    color: #fff;
}

#cadastro {
    color: #fff;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -20px;
    height: -105px;
}