body{
    background-color: #494850;
    color: #f0f8ff;
}

.icones{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

.icones button{
    padding: 40px;
    font-size: 50px;
    border-radius: 30px;
    border: none;
}

.fundoIcones{
    background-color: #2c2c34;
    padding: 30px;
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

hr{
    margin-left: 40px;
    margin-right: 40px;
    border: none;
    border-top: 2px solid #0094c6;
}

.feed{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 20px;
}
.feedInside{
    display: flex;
    flex-direction: row;
}

button{
    cursor: pointer;
}

.cardPosition{
    display: flex;
}

.title {
    margin: 20px 50px;
}

.title h1 {
    font-size: 35px;
    color: aliceblue;
}

.title h2 {
    font-size: 25px;
    color: silver;
}