body{
    background-color: #494850;
    color: #f0f8ff;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.card{
    background-color: #f0f8ff;
    padding: 40px;
    padding-left: 100px;
}

.iconeimg{
    font-size: 45px;
    padding: 35px;
    background-color: #f0f8ff ;
}


.icone{
    border-radius: 8px;
    margin-left: 100px;
}

.espaco{
    margin-top: 40px;
    margin-bottom: 40px;
}

.espacoCard{
    position: absolute;
    display: flex;
}