body {
    background-color: #494850;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(19, 18, 18, 0.1);
    display: flex;
    flex-direction: column;
    height: 30%;
    text-align: center;
    
    
}

.formulario button {
    border: none;
    height: 20px;
    padding: 0px;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 30px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-color: #191d32 rgba(255, 166, 0, 0);
    scrollbar-width: thin;
    gap: 30px;
    margin: 20px;
    
}

table, th, td {
    margin-bottom: 30%;
    background-color: #f5f5f5;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    
}

th{
    padding: 15px;
}
td{
    padding: 15px;
}


.final {

    text-align: center;
    margin-top: 20px;
    margin-block: 40px;
    font-size: 20px;
   
}

.final input{
    margin: 10px;
    padding: 5px;

}

.final button {
    padding: 25px;
    font-size: 20px;
    background: #191d32;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 35px;
    

}

.final button:hover {
    background-color: #696969;
}

.tabela{
    overflow-y: scroll;
    overflow-x: none;
    max-height: 790px;
    scrollbar-width: thin;
}

.tabela img{
    width: 200px;

}





.tabela button{
    padding: 10px;
    font-size: 15px;
    background: #191d32;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    


}